#information {
    padding: 80px 0 100px;
    color: #222;
    text-align: center;
    background-color: rgb(177, 177, 168);
}
#information .wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}
#information h1 {
    display: inline-block;
    margin: 0 auto 40px;
    padding-bottom: 10px;
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    border-bottom: 4px solid white;
  }
  #information article {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    padding: 40px 40px 35px;
    text-align: left;
    border-radius: 20px;
    background-color: #fff;
  }
  #information article .text_date {
    font-size: 0.85rem;
  }
  #information article h2 {
    margin-bottom: 30px;
    padding-bottom: 12px;
    font-size: 1.15rem;
    line-height: 1.8em;
    border-bottom: 2px solid gray;
  }
  #information article .text_content {
    line-height: 2.0em;
    font-size: 0.85rem;
  }
  h5 {
    font-size: 30px;/*文字サイズ*/
    color: #364e96;/*文字色*/
    background: #FFFFFF; /*背景色*/
    padding: 0.5em; /*文字まわり（上下左右）の余白*/
    font-family:游明朝体;
  }
  h1 {
    text-align: center;
    font-size: 30px;/*文字サイズ*/
    color: #364e96;/*文字色*/
    /* background: #FFFFFF; 背景色 */
    padding: 0.5em; /*文字まわり（上下左右）の余白*/
    font-family:MS UI Gothic;
  }
.a {
   width: 300px;
   height: 300px;
}
.a img {
   width: 100%;
   height: 100%;
}
.sai{
  width: 750px;
  height: 300px;
  margin : 0 auto
}
/* トップへ戻るボタン */
.page_top_btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-weight: bold;
  padding: 0.7em;
  text-align: center;
  background: rgb(13, 255, 0);
  color: #fff;
  transition: 0.3s0;
}

/* マウスオーバー時 */
.page_top_btn:hover {
  background: rgba(0, 255, 8, 0.8);
  color: rgb(255, 255, 255, 0.8);
}
.bun {
  font-size: 30px;/*文字サイズ*/
  color: #000000;/*文字色*/
  background: #FFFFFF; /*背景色*/
  padding: 0.5em; /*文字まわり（上下左右）の余白*/
  font-family:游明朝体;
  text-align:center;
  padding:20px 0;
}